
@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Monserrat'), url('Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-black';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-black'), url('Montserrat-Light.woff') format('woff');
}


body {
  font-family: "Montserrat-black", "Segoe UI Regular", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #000000;
    border-radius: 1rem;
    border-color: #000000;
}
.divider-custom .divider-custom-icon {
    color: #000000;
    font-size: 2rem;
}

.card-header-dark {
  background-color: #1a1a1a;
}
.card-header-title-white {
  color: #fafafa;
}
section {
  margin-top: 20px;
  padding-top: 85px;
  padding-bottom: 30px;
}
#about {
  background-color: #1a1a1a;
}
.subtitle {
  color: #fafafa;
}
.divider-custom-line-white {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}
#about h1 {
  color: #fafafa !important;
}

.navbar-item {
  color: #fafafa;
}
.navbar-item:hover {
  background-color: #222 !important;
  border-radius: 10%;
  text-shadow: 4px 3px 7px black;
}
.navbar.is-dark {
  background-color: #000000;
}
.mape-primary {
  background-color: #000000 !important;
}
.mape-anti-primary {
  color: #000000 !important;
}
.mape-footer {
  background-color: #000000 !important;
  padding: 3rem 1.5rem 1rem !important;
}
.navbar-shrink {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}


@media only screen and (min-width: 768px) {
  #navbarHeader {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
}

html {
  scroll-behavior: smooth;
}
.navbar-item.active {
  background-color: #222 !important;
  border-radius: 10%;
  color: #fafafa;
}
.navbar-item {
  text-transform: uppercase !important;
  font-weight: 700;
}

svg:hover{
  transform: scale(1.2);
}

svg {
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transition-timing-function: ease-in;
}

.section-image {
  background-image: url('../assets/main_720x240.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.text-animated {
  transition: all 1s;
  transform-origin: 50% 50%;
  transition-timing-function: ease-in;
  opacity: 0;
}

.text-animated-displayed {
  opacity: 1;
}

#navbarResponsive {
  background-color: #000000;
}

.modal-card-head {
  color: #fafafa;
  background-color: #000000;
}
.modal-card-title {
  color: #fafafa;
}
.modal-card-body {
  color: #fafafa;
  background-color: #1a1a1a;
  margin-top: 0;
}

.navbar-no-background:hover {
  background-color: transparent !important;
}
.navbar-no-background:active {
  background-color: transparent !important;
}
.navbar-no-background.active {
  background-color: transparent !important;
}

a {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

p {
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in {
  transform: translateX(100%);
  opacity: 0;
}

#language-select {
  background-color: transparent;
  color: #fafafa;
}
